@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_24pt-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



:root { 
  --size: calc(1vh + 1vw) 
}

:root {
  --prymary: "Inter", sans-serif;
  --secondary: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


a, p {
    color: #ffffff;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #151515; 
    font: 900 calc(var(--size) * 0.6) var(--prymary);
}

.header a {
    border: 2px solid #B62928;
    border-radius: 22px;
    padding: 7px 40px;
    
}

.header a:hover{
    border: none;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    color: #151515;
}

.header_logo {
    display: flex;
    align-items: center;
}

.header_logo img {
    width: 4vw;
}

.header_sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}



.header_authorization {
    display: flex;
    align-items: center;
}


.footer {
    background-color: #8d2828;
    font: 900 calc(var(--size) * 0.6) var(--prymary);
}

.footer_info {
    display: flex;
    justify-content: space-around;
}

.footer_signature {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer_signature p {
    margin: 30px 0;
    color: #3b3b3b;
}

.footer_navigation {
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--size)*2);
}

.footer_navigation p {
    margin-bottom: 10px;
}

.footer_catalog {
    margin-top: 15px;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--size)*2);
}

.footer_contacts p{
    margin-bottom: 25px;
}

.footer_contact-number {
    margin-bottom: 10px;
}



.footer_networks {
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--size)*2);
}

.footer_networks p{
    margin-bottom: 25px;
}

.footer_networks-network {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer_networks-network img {
    
}

.footer_networks-vk {
    width: 50px;
    height: 50px;
}

.footer_networks-yt {
    width: 60px;
    height: 40px;
}

.footer_networks-tg {
    width: 50px;
    height: 50px;
}

@media (max-width: 2560px) {
    .header_logo img {
        width: 7vw;
    }
    
}

@media (max-width: 1200px) {
    .header_logo img {
        width: 7vw;
    }
    
}

@media (max-width: 960px) {
    .header_logo img {
        width: 8vw;
    }

    .header {
        font: 900 calc(var(--size) * 0.7) var(--prymary);
    }
    .footer {
        font: 900 calc(var(--size) * 0.7) var(--prymary);
    }

}



@media (max-width: 375px) {
    .header_logo img {
        width: 7vw;
    }
    
}